# .NET (FSharp)
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Pp]ublish/
.fake
.ionide
Ionide.trx
.paket
paket-files/
# Logging
log*.txt
TestResults*.xml
# Npm
node_modules
# Fable
fable_modules
# VSCode Testing
.vscode-test
.DS_Store
# Resharper
*.DotSettings.user
# Visual Studio
.vs
# Environment configuration
.env
