source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0
nuget Expecto
nuget Fable.Electron
nuget Fable.Mocha
nuget FSharp.Core
nuget OmniSharp.Extensions.LanguageProtocol.Testing
nuget OmniSharp.Extensions.LanguageServer
nuget Serilog
nuget Serilog.Extensions.Logging
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget MediatR 8.1.0
nuget Unquote
nuget YoloDev.Expecto.TestSdk
nuget Fable.Promise
nuget Fable.Node
nuget Fable.Core
github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs