source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
nuget Amazon.CDK.Lib
nuget Amazon.Lambda.CloudWatchEvents
nuget Amazon.Lambda.Core
nuget Amazon.Lambda.TestUtilities
nuget Amazon.Lambda.APIGatewayEvents
nuget Amazon.Lambda.AspNetCoreServer
nuget AWSSDK.EventBridge
nuget AWSSDK.S3
nuget AWSSDK.SSO
nuget AWSSDK.SSOOIDC
nuget DotNet.Glob
nuget Expecto
nuget Fable.Electron
nuget Fable.Mocha
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.DependencyManager.Paket
nuget FsToolkit.ErrorHandling
nuget Giraffe
nuget Humanizer
nuget Microsoft.IO.RecyclableMemoryStream 2.3.2
nuget OmniSharp.Extensions.LanguageProtocol.Testing
nuget OmniSharp.Extensions.LanguageServer
nuget Serilog
nuget Serilog.Extensions.Logging
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget MediatR 8.1.0
nuget Unquote
nuget Verify.Expecto
nuget YamlDotNet
nuget YoloDev.Expecto.TestSdk
nuget Fable.Promise
nuget Fable.Node
nuget Fable.Core
github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs