name: Contextive Publish
on:
  release:
    types: [published]
  ## Keeping in Comments as may be helpful for future publish rescue requirements (search PUBLISH_RESCUE for other locations)
  # workflow_dispatch:
  #   inputs:
  #     release:
  #       description: 'Release to publish'
  #       required: true
  #       type: string

  
env:
  dotnet-version: '8.0.x'
  
jobs:
  get-matrix:
    uses: ./.github/workflows/get-matrix.yml
    with:
      matrix-path: .github/release-matrix.yml

  publish-per-runtime:
    needs: get-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.get-matrix.outputs.matrix) }}
    uses: ./.github/workflows/contextive-runtime-publish.yml
    with:
      release: ${{ github.ref_name }} 
      # release: ${{ inputs.release }} # swap with above for PUBLISH_RESCUE
      dotnet_runtime: ${{ matrix.dotnet_runtime }}
      os: ${{ matrix.os }}
      vsce_platform: ${{ matrix.vsce_platform }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      VSCE_PAT: ${{ secrets.VSCE_PAT }}
      OVSX_PAT: ${{ secrets.OVSX_PAT }}

  publish-intellij:
    name: Contextive IntelliJ Publish
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: ./.github/actions/init-dotnet

      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Build
        id: build
        run: dotnet fsi intellij/build.fsx -- --release ${{ github.ref_name }}
        # run: dotnet fsi intellij/build.fsx -- --release ${{ inputs.release }} # swap with above for PUBLISH_RESCUE
        working-directory: src
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          CERTIFICATE_CHAIN: ${{ secrets.JETBRAINS_CERTIFICATE_CHAIN }}
          PRIVATE_KEY: ${{ secrets.JETBRAINS_PRIVATE_KEY }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.JETBRAINS_PRIVATE_KEY_PASSWORD }}
          PUBLISH_TOKEN: ${{ secrets.JETBRAINS_PUBLISH_TOKEN }}